Repository BasisResearch/collab-creatures, pull requests merged in 2024-08, with the labels that each got.

#99 add collab2 folder
  collab2/.gitkeep
  collab2/__init__.py
  collab2/foraging/__init__.py
  collab2/foraging/central_park_birds/__init__.py
  collab2/foraging/central_park_birds/central_park.py
  collab2/foraging/communicators/__init__.py
  collab2/foraging/communicators/agents.py
  collab2/foraging/communicators/com_utils.py
  collab2/foraging/communicators/environments.py
  collab2/foraging/communicators/simulation.py
  collab2/foraging/communicators/success_metrics.py
  collab2/foraging/locust/__init__.py
  collab2/foraging/locust/ds_locust_class.py
  collab2/foraging/locust/ds_locust_functions.py
  collab2/foraging/locust/locust.py
  collab2/foraging/random_hungry_followers/__init__.py
  collab2/foraging/random_hungry_followers/follower_birds.py
  collab2/foraging/random_hungry_followers/hungry_birds.py
  collab2/foraging/random_hungry_followers/random_foragers.py
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/animate_foragers.py
  collab2/foraging/toolkit/communicates.py
  collab2/foraging/toolkit/derive.py
  collab2/foraging/toolkit/dynamical_utils.py
  collab2/foraging/toolkit/how_far.py
  collab2/foraging/toolkit/inference.py
  collab2/foraging/toolkit/proximity.py
  collab2/foraging/toolkit/subsampling.py
  collab2/foraging/toolkit/trace.py
  collab2/foraging/toolkit/utils.py
  collab2/foraging/toolkit/velocity.py
  collab2/foraging/toolkit/visibility.py
  collab2/utils/__init__.py
  collab2/utils/file_structure.py
  data/foraging/locust/ds/length_experiment_results_15EQ20191202_2024-07-08.pkl
  data/foraging/locust/ds/length_experiment_v_results_15EQ20191202_v15EQ20191205_2024-07-08.pkl
  setup.py
Labels: status:awaiting review, collab2.0

#100 add dataObject class
  collab/foraging/locust/ds_locust_functions.py
  collab/foraging/toolkit/subsampling.py
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/subsampling.py
  collab2/foraging/toolkit/utils.py
  docs/experimental/collab2_tests/object_creation.ipynb
  docs/foraging/locust/locust_ds_validate.ipynb
  scripts/clean.sh
  scripts/lint.sh
  tests/test_collab2_object_creation.py
Labels: blocked, status:awaiting review, collab2.0

#101 add local windows & helper functions
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/local_windows.py
  docs/experimental/collab2_tests/local_windows.ipynb
  tests/test_collab2_local_windows.py
Labels: status:awaiting response, collab2.0

#102 add filter_by_distance
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/filtering.py
  collab2/foraging/toolkit/local_windows.py
  docs/experimental/collab2_tests/filtering.ipynb
Labels: status:awaiting review, collab2.0

#105 add_velocity function
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/utils.py
  collab2/foraging/toolkit/velocity.py
  docs/experimental/collab2_tests/compute_velocity.ipynb
Labels: status:awaiting review, collab2.0

#106 Velocity predictor contribution calculator
  .github/workflows/test_modules.yml
  Makefile
  README.rst
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/velocity.py
  collab2/foraging/toolkit/visualization.py
  docs/experimental/collab2_tests/velocity_predictors.ipynb
  scripts/test.sh
  scripts/test_modules.sh
Labels: blocked, status:awaiting review, collab2.0

#110 Add proximity-based predictor functions
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/filtering.py
  collab2/foraging/toolkit/proximity.py
  collab2/foraging/toolkit/visualization.py
  docs/experimental/collab2_tests/proximity_predictor.ipynb
Labels: status:awaiting review

#112 Vicsek predictor and related analysis
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/velocity.py
  docs/experimental/collab2_tests/velocity_predictors.ipynb
  docs/experimental/collab2_tests/vicsek_predictors.ipynb
Labels: status:awaiting review, collab2.0

#111 Added `next_step_score` module and notebook
  collab2/foraging/toolkit/__init__.py
  collab2/foraging/toolkit/how_far.py
  collab2/foraging/toolkit/next_step_score.py
  docs/experimental/collab2_tests/next_step_score.ipynb
Labels: status:awaiting review, collab2.0
